/* @charset "utf-8"; */;

.round em.tl, .round em.tr, 
.round em.bl, .round em.br {
    background-image: url('http://img.auto.ria.ua/images/round/corners.gif');
    }


.standart-tabs .tabs{
    background: #fff;
    }

.breadcrumbs h2{
    font-size: 0;
    line-height: 0;
    color: #fff;
    }
    .breadcrumbs h2 a{ color: #fff; }
