/* @charset "utf-8"; */

/** 
 *   popup-element.css [snippet]
 *   Version : 0.9.0
 *   date modification 22.12.2010
 *   ----------------------------------
 *   1. popup
 *     
 *
 */


.popover-wrapper{
    
    position: relative;
    display:  block;
    height:   150px;
    
    
    }


.popup{
    position: absolute;
    
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    
    
    padding: 2px 5px 3px 5px;
    
    
    border-radius:            3px;
       -moz-border-radius:    3px;
       -o-border-radius:      3px;
       -webkit-border-radius: 3px;
       -khtml-border-radius:  3px;
    
    box-shadow:             0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow:    0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -o-box-shadow:      0 3px 7px 0 rgba(0, 0, 0, 0.3);
        
    z-index: 1000;
    }

    .popup .wrapper{
        position:   relative;
        display:    inline-block;
        background: rgba(255, 255, 255, 0.95);
        margin:     1px -2px 0 -2px;
        padding:    5px 10px;
        
        color: #404040;
        
        border-radius:            1px;
           -moz-border-radius:    1px;
           -o-border-radius:      1px;
           -webkit-border-radius: 1px;
           -khtml-border-radius:  1px;
        
        z-index: 100;
        }
    
    
    .popup.uarr:before, 
    .popup.darr:before, 
    .popup.larr:before, 
    .popup.rarr:before{
        opacity: 0.75;
        }
    
    
    /*
    .popup.larr:after{
        position:    absolute;
        width:       0;
        height:      0;
        font-size:   0;
        line-height: 0;
        border:      0 dashed transparent;
        
        border-right:  10px solid rgba(255, 255, 255, 0.95);
        border-bottom: 10px dashed transparent;
        border-top:    10px solid transparent;
        left:         -6px;
        
        content:     "";
        z-index:     200;
        }
        
        .__center.larr:after { top: 50%; margin-top: -10px;}
    */







.popover{
    position:   absolute;
    background: rgba(0, 0, 0, 0.75);
    color:      #fff;
    padding:    2px 5px;
    
    border-radius:            3px;
       -moz-border-radius:    3px;
       -o-border-radius:      3px;
       -webkit-border-radius: 3px;
       -khtml-border-radius:  3px;
    
    box-shadow:             0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow:    0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
        -o-box-shadow:      0 3px 7px 0 rgba(0, 0, 0, 0.3);
        
    z-index: 1000;
    }
    
    
    
    .popover.uarr:before, 
    .popover.darr:before, 
    .popover.larr:before, 
    .popover.rarr:before{
        border-width: 5px;
        }
    
    .popover.uarr:before{ border-top:    0 none; top:    -5px; }
    .popover.darr:before{ border-left:   0 none; bottom: -5px; }
    .popover.larr:before{ border-right:  0 none; left:   -5px; }
    .popover.rarr:before{ border-bottom: 0 none; right:  -5px; }
    
    .popover.__center.uarr:before { margin-left: -5px; }
    .popover.__center.darr:before { margin-left: -5px; }