/* @charset "utf-8"; */

/** 
 *   list-tabs.css [snippet]
 *   Version : 1.0.0
 *   date modification 14.04.2011
 *   ----------------------------------
 */



    .list-tabs{
        display:       inline-block;
        width:         100%;
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;
        
        }
    .list-tabs .area{
        line-height:    21px;
        margin-top:     4px;
        padding-bottom: 2px;
        }
        
        
        /* - tabs-ltr - */
            .tabs-ltr .area{
                float:      right;
                text-align: right;
                }
            .tabs-ltr .tabs{ float: left; }
        
        
        /* - tabs-rtl - */
            .tabs-rtl .area{
                float:      left;
                text-align: left;
                }
            .tabs-rtl .tabs{  float: right; }


        .list-tabs .tabs{
            display:  inline-block;
            position: relative;
            
            padding:  5px 12px;
            margin:   0 0 0 2px;
            color:    #757575;
            
            
            background: #f5f5f5;
            
            
            border:        1px solid #ddd;
            border-bottom: 0 none;
            
            
            border-radius:         3px 3px 0 0;
               -moz-border-radius: 3px 3px 0 0;
               -webkit-border-top-left-radius: 3px;
               -webkit-border-top-right-radius: 3px;
            
            z-index: 100;
            cursor:  pointer;
            }

        .list-tabs .tabs{
            color: #757575;
            text-decoration: none;
            }
        .list-tabs .tabs:hover{
            color: #404040;
            text-decoration: none;
            }
        
        .list-tabs .tabs.active{
            
            font-weight: bold;
            
            color: #404040;
            border-color:   #ddd;
            border-bottom:  0 none;
            padding-bottom: 6px;
            
            margin-bottom: -1px;
            cursor:  default;
            
            background: #fff;
            
            }
        
