/* @charset "utf-8"; */

/** 
 *   round.css
 *   Version : 1.0.0
 *   date modification 11.04.2011
 *   ----------------------------------
 *   1. Base style round element
 *       1.1 firefox
 *       1.2 safari, chrome
 *       1.3 opera
 *   
 */




/**
 *    1. Base style round element
 */
.round{ position: relative; }
.round,
.round .wrapper{ display: block; }

.round .tl, .round .tr, 
.round .bl, .round .br {
    position: absolute;
    font-size: 0;
    line-height: 0;
    }
    .round .tl, .round .tr { top:    0; }
    .round .bl, .round .br { bottom: 0; }
    .round .tl, .round .bl { left:   0; }
    .round .tr, .round .br { margin-left: 100%;}

.round em.tl, .round em.tr, 
.round em.bl, .round em.br {
    width: 10px;
    height: 10px;
    background: url('http://img.auto.ria.ua/images/round/corners.png') no-repeat;
    overflow: hidden;
    }
    .round em.tr, .round em.br { left: -10px;}

    /**
     *   1.1 Firefox
     */
    @-moz-document url-prefix() {	
        .round em.tl, 
        .round em.tr,  
        .round em.bl, 
        .round em.br{ display: none; }
        }

    /**
     *   1.2 Safari, Chrome
     */
    body:nth-of-type(1) .round em.tl, 
    body:nth-of-type(1) .round em.tr,  
    body:nth-of-type(1) .round em.bl, 
    body:nth-of-type(1) .round em.br{ display: none; }

    /**
     *   1.3 Opera
     */
    @media all and (-webkit-min-device-pixel-ratio:10000),
    not all and (-webkit-min-device-pixel-ratio:0) {
        .round { position: relative; }
        .round em.tl,
        .round em.tr,
        .round em.bl,
        .round em.br{ display: block !important; }
    }
